/******fonts*******/
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap");

* {
  font-family: "Raleway", sans-serif;
  padding: 0px;
  margin: 0px;
}
body {
  box-sizing: border-box;
  line-height: 1.4;
}
:root {
  --main-white: #f0f0f0;
}

/**********Header section***********/
.container-fluid {
  padding: 0px !important;
}
/********** navgiation bar**********/
.nav {
  background-color: #be3144;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;

  justify-content: end;
}
.nav-list {
  display: flex;
  font-family: "poppins", sans-serif;
  font-size: 25px;
  list-style-type: none;
  text-decoration: none;
}

.nav-item a {
  color: white;
  padding: 15px;
  margin-right: 20px;
}
/********** Breaking point**********/
@media (max-width: 768px) {
  .nav-list {
    font-size: 18px;
    margin-bottom: 0px;
  }
}
@media (max-width: 480px) {
  .nav-list {
    margin: 4px 4px;
    font-size: 15px;

    text-decoration: none;
  }
  .nav-item a {
    padding: 0px;
  }
} 
/********** Head-content**********/
.head {
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.head h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 60px;
}
.head p {
  color: #be3144;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: italic;
}
/********** Breaking point**********/
@media (max-width: 768px) {
  .head h1 {
    font-size: 35px;
    margin-bottom: 0px;
  }
  .head p{
    font-size: 23px;
  }
}
@media (max-width: 460px) {
  .head h1 {
    font-size: 25px;
    margin-bottom: 0px;
  }
  .head p{
    font-size: 18px;
  }
}
/**********Project-section**********/
.project-section {
  background-color: #45567d;
  height: auto;
  padding: 10rem 2rem;
  width: auto;
}
.project-section h2 {
  color: white;
  text-align: center;
  padding-top: 20px;
  border-bottom: 3px solid var(--main-white);
  max-width: 600px;
  margin: auto;
  font-size: 40px;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 6rem;
  max-width: 1280px;
  width: 100%;
  margin: 20px auto;
  margin-bottom: 6rem;
  padding-top: 20px;
}
.images img {
  width: 100%;
  height: calc(100% - 108px);
  object-fit: cover;
}

.project-para {
  text-align: center;
  background-color: #303841;
  text-decoration: none;

  color: white;
  font-size: 24px;
  margin-top: 0px;
  padding: 10px;
}
.images a{
  text-decoration: none!important;
}
.project-para p {
  text-decoration: none;
}
.span {
  color: #303841;
  transition: color 0.3s ease-out;
}
.project-link:hover .span {
  color: #ff7f50;
}
/**********Show-button**********/
.btn {
  background-color: #303841 !important;
  padding: 16px !important;
  border-radius: 2px !important;
  color: white !important;
}
.btn-show {
  font-size: 16px !important;
  transition: background-color 0.3s ease-out !important;
}
.btn-show:hover{
  background-color: #be3144 !important;
  border: none!important;
}
/********** Breaking point**********/
@media (max-width: 1024px) {
  .images {
    padding-left: 20px;
    padding-right: 20px;
  }
  .project-para {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 840px) {
  .project-para {
    font-size: 17px;
  }
}
@media (max-width: 782px) {
  .images {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
  }
  .project-section h2 {
    font-size: 30px;
    border-bottom-width: inherit;
  }
  .btn-show{
    font-size: 14px!important;
    padding: 8px!important;
  }
}

@media (max-width: 717px) {
  .images {
    width: 100%;
    margin-bottom: 5px;
  }
  .images a{
    height: fit-content;
  }
  .project-para {
    font-size: 15px;
  }
}
@media (max-width: 490px) {
  .project-section {
    padding: 20px 20px;
  }
  .project-section h2 {
    font-size: 15px;
  }
  .images {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 2px;
  }
  .btn-show{
    font-size: 12px!important;
    padding: 5px!important;
  }
}
@media (max-width: 330px) {
  .images {
    margin-bottom: 2px;
    padding: 0px;
  }
  .project-para {
    padding: 20px 20px;
  }
  .project-section {
    padding: 20px 20px;
  }